

.contentLeft {
    height: 60vh;
    display: none;
  }

  .Image2 {
    background-color: rgba(0, 0, 255, 0.5);
    opacity: 0.8;
    height: 60vh;
    width: auto;
  }
  
  
  .ImageContainer {
    margin-left: 10%;
  }
  
  .ImageContainerRight {
    margin-left: 10%;
  }
  
  .Image {
    background-color: rgba(0, 0, 255, 0.5);
    opacity: 0.8;
    height: 60vh;
    width: auto;
  }
  
  
  .contentRight {
    height: 60vh;
    display: none;
  }
  
  .FlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
  
  }
 /* 
  @media (max-width: 1200px){
  
    .Image {
      height: 600px;
    }
    .Image2 {
      height: 600px;
    }
    .FlexContainer {
      margin-top: 14%;
    }
  }
  
  @media (max-width: 600px){
  .FlexContainer {
    flex-direction: column;
  }
  }
  */
  .search {
    position: absolute;
    left: 44%;
    top: 48vh;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
  }
  
  .Score {
    order: 3;
    z-index: 2;
    display: block;
    color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
  }
  
  .Erreur {
    order: 2;
    z-index: 2;
    display: block;
    color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
  }

  .Rate {
    order: 1;
    z-index: 2;
    display: block;
    color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin-left: 2%;
    white-space:nowrap;
  }
  .Rate, .Erreur,.Score {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .ImageContribution {
    display: block;
    height: auto;
    width: 40px;
    margin-left: 20px;
    z-index: 2;
    color: #f4f4f4;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 400px;
  }
  
  .Image:hover, .Image2:hover  {
    background: black;
    cursor:  pointer;
    box-shadow: 3px 3px 20px 2px #656565;
  }
  
  .AverageLeft {
    position: absolute;
    display: none;
    z-index: 2;
    margin-left: 7px;
  }
  
  .AverageRight {
    position: absolute;
    display: none;
    z-index: 2;
    margin-left: 7px;
  }

  
  .header {
    background: #081c24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 70px;
  }

  .loader {
    position: absolute;
    left: 47%;
    top: 38vh;
    z-index: 2;
  }


/* 

   Nouveau test css

  .header {
    background: #081c24;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .FlexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }

  .Image1 {
    width: 80vw;
    margin: 0 auto;
  }

  .Image2 {
    width: 80vw;
    margin: 0 auto;
  }



    /* Placer le score directement sur img avec l'opacity
  .contentLeft{
    display: flex;
    flex-direction: column;
  }




  @media (min-width: 600px) {

    .header {
      flex-direction: row;
    }
    .FlexContainer {
      flex-direction: row;
      justify-content: space-between;
    }

  }

  */